export GITHUB_USERNAME=
export GITHUB_TOKEN=
export PLATFORM="kind-platform"
export WORKER="kind-worker"
export PLATFORM_PORT=6443
export WORKER_PORT=6444
export ANSIBLE_VAULT_PASSWORD_FILE="~/.vault_pass"
